@* Dessa forma estamos falando que os dados inseridos nos objetos da model serão retornados nessa página *@
@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    @*E dessa forma nós podemos utiliza-los para que sejam retornados na view*@
    <h1 class="display-4">Bem vindo, @Model.Nome!</h1>
    <p>Meu Primeiro site em MVC.</p>
    <span>Seu email é: @Model.Email</span>
</div>
